<h3 class="pagetitle">All Tags</h3>

<p>Tags are sorted in order of number of questions</p>

<div class="row-fluid">			
		<% @tags.in_groups_of(10, false) do |tags| %>
			<% tags.each do |tag| %>
			<div class="span1">
				<%= link_to "#{tag.name} (#{tag.num_questions})", tag.name %>
			</div>				
			<% end %>
		<% end %>
</div>


