// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	padding-top: 20px;
    padding-bottom: 40px;
	padding-left: 0px;
	padding-right: 0px;
    margin: 0px;
 }

 /* Custom container */
 .container-narrow {
   height: 100%;
   width: 100%;
   margin: 0 auto;
   max-width: 100%;
   display: table;
 }
 
 hr {
   margin: 0px;
 }

 /* Main marketing message and sign up button */
 .jumbotron {
   margin: 10px 0;
   text-align: center;
 }

 .jumbotron h1 {
   font-size: 72px;
   line-height: 1;
 }
 .jumbotron .btn {
   font-size: 21px;
   padding: 14px 24px;
 }

 /* Supporting marketing content */
 .marketing {
   margin: 60px 0;
 }
 .marketing p + h4 {
   margin-top: 28px;
 }

 h3.pagetitle {
  margin-top: 20px;
 }
 
 .taglist, .q-content {
	 display: table-cell;
 }
 
 .taglist {
	font-size: 0.9em;
	margin-top: -45px;
	margin-left: 0px;
	border-right: 1px solid #BDC3C7;
}

 .taglist ul {
 	text-align: left;
	padding: 0px;
	margin: 0px;
	list-style-type: none;
}

 .taglist ul li a {
	 color: #3498DB;
}

 .taglist ul li a:hover {
	 text-decoration: none;
	 color: #2980B9;
}

.taglist .title {
	text-align: center;
	font-size: 1.5em;
	color: #E74C3C;
}

.q-content {
   background: white;
   border: 0px;
   padding-left: 20px;
}

.question-body {
//	background-color: #BDC3C7;
	
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	text-align: left;
	padding-left: 10px;	 
}

.question-body h1, .answer-body h1 {
	font-size: 2em;
}

.question-body h2, .answer-body h2 {
	font-size: 1.5em;
}

.question-body h3, .answer-body h3 {
	font-size: 1em;
}

.question-body pre, .answer-body pre {
	text-align: left;
	width: 80%;
	margin-left: 5%;
	margin-right: 10%;
}

.question-body ul, .answer-body ul {
   list-style-type: none;
}

.question-body hr, .answer-body hr {
	border-top: 0px;
	border-bottom: 0px;
}