<!-- <div class="divider"></div> -->
<div class="span2 taglist">
	<span class="title">List of Tags</span>
	<ul>
	 <% Tag.order("num_questions DESC").first(100).each do |tag| %>
		<li><%= link_to "#{tag.name} (#{tag.num_questions})", tag.name %></li>
	 <% end %>	
	</ul>								
</div>